.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  margin-block: 40px;
  max-width: 800px;
}

.carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 70%;
  padding-block: 20px;
}

.carouselItem {
  text-align: center;
  transition: 0.4s;
  width: 220px;
  height: 420px;
  align-items: center;
  &:hover {
    scale: 1.05;
  }

  & > h2 {
    font-size: 22px;
    font-weight: bold;
  }

  & > .moduleImg {
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #ffffff20;
  }
}

.carouselItemsContainer {
  display: flex;
  transition: 0.4s;
}

.navButton {
  z-index: 1;
  font-size: 30px;
}

@media (width < 760px) {
  .container {
    max-width: 100%;
  }
}

@media (width < 620px) {
  .container {
    max-width: 430px;
  }
}

.progressBox {
  padding-inline: 25px;
  position: absolute;
  bottom: 80px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 5px;
}

.progressContainer {
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 10px;
  margin: 0.5rem 0;
  width: 120px;
}

.progressBar {
  background-color: #00b400;
  height: 100%;
  border-radius: 4px;
  transition: width 0.3s ease;
}
